@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Poppins:wght@600&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    height: 100%;
}
.menu{
    display: none;
}
h1{
    font-size: 1.6em;
}
p{
    font-size: 1.1em;
}
.hero{
    background: white url(../images/605599.jpg) no-repeat center center;
    background-size: cover;
}
header{
    background-color: transparent;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}
.nav-bar > img{
    width: 100px;
}
.nav-bar > ul{
    list-style: none;
}
#hero-flex{
    padding: 1.5rem;
}
#hero-flex > h1{
    color: #FF6F00;
    margin: 20px 0px;
    text-shadow: 1px 1px 0px black;
}
#logo{
    width: 100%;
}
#hero-flex > p{
    font-size: 1.1em;
    margin: 20px 0px;
    color: white;
}
#hero-flex > a >button{
    margin: 20px 0px;
    width: 100%;
    height: 45px;
    background-color: #005CB2;
    color: white;
    border: none;
    border-radius: 7px;
    transition: 0.5s;
}
#hero-flex >a > button:hover{
    background-color: #003d75;
}
/*        



Main         




*/

main{
    border-radius: 4px;
    background-color: white;
}
section.main-lutas{
    margin-top: 30px;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
}
.flex-container > img{
    width: 45%;
    object-fit: cover;
}
.flex-container > article{
    margin-top: 15px;
    width: 100%;
}
.flex-container > article > h2{
    color: #FF6F00;
    text-align: center;
}
.flex-container > article > p{
    font-weight: 500;
    margin: 10px 0px;
    text-align: center;
}
.flex-container > article > a > button{
    width: 50%;
    height: 50px;
    display: block;
    margin: auto;
    background-color: #FF6F00;
    color: white;
    border: none;
    border-radius: 7px;
    transition: 0.5s;
    margin-top: 10px;
}
a{
    text-decoration: none;
}
.flex-container > article > a> button:hover{
    background-color: #ac4a00;
}





.main-assistir{
    margin: 50px 0px;
    
}
.flex-container-ass{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.desc > h2{
    color: #FF6F00;
    margin: 20px 0px;
}
.flex-container-ass > img{
    width: 40%;
}
.flex{
    display: flex;
    align-items: center;
    gap: 10%;
}
.flex img{
    width: 70%;
    object-fit: cover;
}
.linha{
    width: 50%;
    margin: auto;
}
.main-personagens{
    margin-top: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.196);
    border-radius: 15px;

}
.main-personagens > h2{
    color: #FF6F00;
    text-align: center;
    margin-bottom: 10px;
}
.flex-container-perso{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    margin: 0 10px;
}
.flex-container-perso > div{
    width: 30%;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 10px;
}

.flex-container-perso > div > img{
    width: 100%;
}
.desc-personagem{
    margin-top: 20px;
}
.desc-personagem > h2{
    text-align: center;
    color: #005CB2;
}
#container-personagem{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    gap: 6%;
}
#personagem{
    width: 40%;
    object-fit: cover;
}
.naruto{
    background: white url(../images/wave-haikeinaruto.png) center center no-repeat;
    background-size: cover;
}
.sasuke{
    background: white url(../images/wave-haikeisasuke.png) center center no-repeat;
    background-size: cover;
}
.sakura{
    background: white url(../images/wave-haikeisakura.png) center center no-repeat;
    background-size: cover;
}
.kakashi{
    background: white url(../images/wave-haikeikakashi.png) center center no-repeat;
    background-size: cover;
}
.madara{
    background: white url(../images/wave-haikeimadara.png) center center no-repeat;
    background-size: cover;
}
.minato{
    background: white url(../images/wave-haikeiminato.png) center center no-repeat;
    background-size: cover;
}
#nome-perso{
    padding: 10px;
}
#desc-perso{
    text-align: justify;
    padding: 10px;
}
#naruto:hover{
    border: 5px solid orange;
}
#sasuke:hover{
    border: 5px solid #005CB2;
}
#sakura:hover{
    border: 5px solid #FF69B4;
}
#kakashi:hover{
    border: 5px solid #02376b;
}
#madara:hover{
    border: 5px solid #8B0000;
}
#minato:hover{
    border: 5px solid #FFD700;
}
.fim-personagens{
    height: 100px;
}
.fnaruto{
    background: white url(../images/wave-haikeiEnaruto.png)no-repeat;
    background-size: cover;
}
.fsasuke{
    background: white url(../images/wave-haikeiEsasuke.png)no-repeat;
    background-size: cover;
}
.fsakura{
    background: white url(../images/wave-haikeiEsakura.png)no-repeat;
    background-size: cover;
}
.fkakashi{
    background: white url(../images/wave-haikeiEkakashi.png)no-repeat;
    background-size: cover;
}
.fmadara{
    background: white url(../images/wave-haikeiEmadara.png)no-repeat;
    background-size: cover;
}
.fminato{
    background: white url(../images/wave-haikeiEminato.png)no-repeat;
    background-size: cover;
}
.flex-container-arcos{
    display: flex;
    flex-wrap: wrap;
}
.main-arcos > h2{
    text-align: center;
    color: #FF6F00;
    margin: 20px 0px;
}
.arco{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.169);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.155);
    border-radius: 5px;
}
.arco > img{
    width: 40%;
    object-fit: cover;
}
.arco > article > h2,p{
    padding: 10px;
}
.arco > article > h2{
    color: #005CB2;
}
footer{
    background-color: #FF6F00;
    text-align: center;
    color: white;
}
.nav-bar > h2{
    color: white;
}
footer > .nav-bar{
    flex-direction: column;
}
footer > .nav-bar > ul > li > .nav-link{
    text-decoration: none;
    color: rgb(255, 254, 254);
    transition: 0.5s;
}
footer > .nav-bar > ul > li > .nav-link:hover{
    text-decoration: underline;
    color: rgb(206, 205, 205);
}
.pointer{
    display: none;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #005CB2;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}
.pointer > span{
    color: white;
}
footer > p{
    background-color: #d4620a;
}
.arcon{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    width: 100%;
    margin: 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.169);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.155);
    border-radius: 5px;
}
.arcon > img{
    width: 40%;
    object-fit: cover;
}
.arcon > article > h2,p{
    padding: 10px;
}
.arcon > article > h2{
    color: #005CB2;
}
.overlay{
    width: 0;
    height: 100%;
    background-color: #FF6F00;
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: all 0.5s;
}
.material-symbols-outlined{
    cursor: pointer;
}
.overlay-content{
    position: relative;
    top:25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;

}
.overlay-content a{
    padding: 8px;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 25px;
}
.overlay a:hover, .overlay a:focus{
    color: rgb(166, 166, 166);
}
.overlay .closebtn{
    position: absolute;
    top: 4%;
    right: 45px;
    font-size: 60px;
    color: white;
}
#container-personagem > article > h2{
    color: #FF6F00;
}
.fim-personagens{
    background-color: #FF6F00;
    height: 100px;
}

